.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

.timer {
    display: flex;
    align-items: center;
}

.timer p {
    font-size: 2rem;
}

.title-btn-grp {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.title-btn-grp .btn {
    margin: 1rem auto;
    width: 33%;
}