* {
    outline: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 80%;
    margin: auto;
    background: #1f1f1f;
    color: white;
}

h1,h2,h3,h4,h5,h6  {
    margin: 2rem 0;
    font-family: 'Sansita', sans-serif;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: .5rem;
    border: white solid 3px;
}

input::-webkit-inner-spin-button {
 appearance: none;
}

input[type=number]{
    -moz-user-select: text;
}

.btn {
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    display: inline-block;
}

.btn-primary {
    background-color: white;
    color: black;
    transition: background-color .3s, border .3s, color .3s;
    border: white 3px solid ;
}

.btn-primary:hover {
    color: white;
    cursor: pointer;
    background-color: #420dab;
    border: #420dab 3px solid;
}